body {
    font-family: fantasy;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #467061;
    font-size: 2em;
    margin-bottom: -5px;
}

.center {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #467061;
    font-size: 4em;
    margin-bottom: -5px;
    text-align: center;
}

/* nav  css*/
#navbar {
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: -5px;
    background-color: #FFFFFF;
}

#navbar a {
    float: right;
    color: #467061;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 30px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar h1 {
    color: #000000;
    float: left;
    
}

/* body css*/
#container {
    background-color: #003E29;
    height: 90vh;
}

/* phot image round  css*/
.round {
    border-radius: 50%;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
  }

/* index buttons  css*/
.button {
border: none;
color: white;
width: 10%;
text-align: center;
text-decoration: none;
display: inline;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 20px 850px;
padding: 25px 15px;

}
.button1 {
    background-color: #467061;}
.button2 {
    background-color: #467061;} 
.button3 {
    background-color: #467061;} 
.button4 {
    background-color: #467061;} 

.button1:hover {
    background-color: #000000;
    color: whitesmoke;
}
.button2:hover {
    background-color: #000000;
    color: whitesmoke;
}
.button3:hover {
    background-color: #000000;
    color: whitesmoke;
}
.button4:hover {
    background-color: #000000;
    color: whitesmoke;
}

/* hobbies  css*/
#container2 {
    background-color: #003E29;
    margin-bottom: -20px;
    height: 90vh;
}

.img1 {
    float: left;    
    margin: 0 15px 0 0;
}

.img2 {
    float: right;    
    margin: 0 0 0 15px;
}


.img3 {
    float: left;    
    margin: 0 15px 0 0;
}

.p1 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 95px;
    padding-bottom: 60px;
    margin-top: -5px;
}

.p2 {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.p3 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 80px;
} 

/* about page css */
.aboutImg {
    float: left;    
    margin: 0 15px 0 0;
}

.aboutP {
    margin-top: -5px;
    padding-bottom: 100px;
    padding-left: 10px;
}

span {
    color: #467061;
    font-size: 1.25em;
}

/* design page css */
#designs-layout {
    display: flex;
}

.designs {
    flex: 33.33%;
    padding: 5px;
  }

/* favorites page css */
#fave {
    overflow:hidden;
    display: flex;
}

#fave img {
    flex: 33.33%;
    padding: 5px;
}

/* contact me page css */
.contact-text {
    font-size: 3em;
}

/* my photos page css */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
  }

.myPhotos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo_text {
    color: #467061;
    font-size: 30px;
    padding: 8px 12px;
    position: relative;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
  }

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: .5} 
    to {opacity: 2}
}

/* footer  css*/
footer {
    margin-top: -16px;
    width: 100%;
    height: 40px;
    background-color: #000000;
}

.foot {
    float: right; 
    padding-right: 10px;
    margin-top: 10px;
    color: #467061;
    text-decoration: none;
}
